// colours
$black: #000;
$white: #fff;
$grey: #b3b3b3;

$accent1: #9bdbe9;
$accent2: #a1e99b;
$accent3: #fec482;




// fonts
$cursive: 'Croissant One', cursive;
$serif: 'Playfair Display', serif;
$sansSerif: 'Roboto', sans-serif;
$sansSerif2: benton-sans, sans-serif; // font-weight of 100 or 300